@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.centerC {
  margin: 40px;
  margin-top: -66px;
  min-height: 1000px;
}
.center {
  display: flex;
  padding: 64px;
  overflow: hidden;
  position: relative;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.centerImg {
  width: 350px;
  height: 350px;
}
.centerR {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .centerR {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.centerL {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .centerL {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background: #f2aa4cff;
  color: white;
  border-radius: 20px;
}
.btn:hover {
  background: black;
  color: #f2aa4cff;
}
.title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background: #f2aa4cff;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
}

.link:hover {
  background: black;
  color: #f2aa4cff;
  text-decoration: none;
}
.img {
  max-width: 100%;
  height: auto;
}

.overTitle {
  text-align: center;
  color: black;
}
