@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.title {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.hero {
  background-image: url("/lift.jpg");
  background-color: #cccccc;
  height: 500px;
  marginbackground-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -134px;
}
.heroContent {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 600px;
  display: flex;
  padding: 0 16px;
  max-width: 960px;
  margin-top: 140px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 92px;
  flex-direction: column;
  justify-content: center;
}
.heroBtn {
  min-width: 300px;
  min-height: 50px;
  margin-top: 36px;
  background: #f2aa4cff;
  color: black;
  border: none;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 20px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
.heroBtn:hover {
  background: black;
  color: #f2aa4cff;
}
.heroImage {
  width: 100%;
  height: 50%;
}
.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
}
.heroText button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.heroText button:hover {
  background-color: #555;
  color: white;
}
